
@import "node_modules/bootstrap/scss/bootstrap";
#link1, #link2{
    text-decoration: none;
}
#link1:hover, #link2:hover{
    text-decoration: underline;
}
footer div span{
    color:yellow;
}
nav{
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 0px;
}
#textBio p, #textBio h3, #textActual h3, #textActual p{
    text-align: left;
}
h3{
    padding-bottom: 0px;

}
p{
    line-height: 42px;
}
#logoGowen1{
    width: auto;
    margin-left: auto !important;
    margin-right: auto !important;
}