#link1, #link2{
    text-decoration: none;
}
#link1:hover, #link2:hover{
    text-decoration: underline;
}
footer div span{
    color:yellow;
}
nav{
    border-radius: 0px 0px 10px 10px;
}
.gowenLogo a img{
    margin-left: 22px;
    margin-right: 22px;
}
#logoGowen1{
    margin-left: -230px;
}