
@import "node_modules/bootstrap/scss/bootstrap";
#link1, #link2{
    text-decoration: none;
}
#link1:hover, #link2:hover{
    text-decoration: underline;
}
footer div span{
    color:yellow;
}
nav{
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 0px;
}
// .gowenLogo a img{
//     margin-left: 22px;
//     margin-right: 22px;
// }
// #logoGowen1{
//     margin-left: -230px;
// }
#textBio p, #textBio h3, #textActual h3, #textActual p{
    text-align: left;
}
h3{
    padding-bottom: 20px;

}
#textBio h3{
    padding-top: 10px;
}